#define HC_12_RX_PIN 16
#define HC_12_TX_PIN 17
#define HC_12_SET_PIN 18

#define PAIR_BUTTON_PIN 19

#define OLED_ADDR 0x3C
#define PAIR_ADDR 0x55

#define MQTT_SERVER "temptake-mqtt.duckdns.org"
#define MQTT_PORT 1883

#define DEBUG
#define DISPLAY_ON
